.advantages-section {
  background-image: url('/images/background-suffix.png') ;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    padding: 130px 0 40px 0;
    width: 1060px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    width: 432px;
    height: 148px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    gap: 56px;
    
  }
  &__item {
    flex-basis: calc((100% - 112px) / 3);
    padding: 24px 32px;
    background: var(--beauty-landing-2-background);
    border-radius: 32px;
    
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;
  }
  
}
