.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // width: 1440px;
  height: 106px;
  left: 1px;
  top: 0px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__nav {
    width: 100%;
    // max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      gap: 28px;
    }
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      gap: 58px;
    }
  }
  &__socials {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 14px;
      margin-right: 0px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 32px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--beauty-landing-2-s2);

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
