.proposition-section {
  padding: 60px 100px;

  &__container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      justify-content: center;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: space-between;
    }
  }

  &__content {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 30px;

    @media screen and (min-width: $bp-tablet) {
      width: 500px;
      justify-content: center;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 672px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-top: 40px;
    }
  }

  &__title {
    width: 300px;
    height: 76px;
    margin-bottom: 20px;
    @media screen and (min-width: $bp-tablet) {
      width: 529px;
      height: 148px;
    }
  }
  &__text {
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 1.7;
    color: var(--beauty-landing-2-c1);
    order: 1;
    flex-grow: 0;
  }
  &__image {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: inline-block;
    }
  }

  &__star-big {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 380px;
    top: 1210px;
    transform: rotate(-30deg);

    @media screen and (min-width: $bp-tablet) {
      left: 580px;
    }

    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      width: 64px;
      height: 64px;
      left: 860px;
      top: 1180px;
      transform: rotate(-30deg);
    }
  }

  &__star-medium {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 1312px;
      top: 890px;
      transform: rotate(30deg);
      display: inline-block;
    }
  }
  &__star-small {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 1300px;
      top: 1116px;
      transform: rotate(30deg);
      display: inline-block;
    }
  }
}
