.section {
  padding: 20px 0 0 0;

  &__title {
    font-family: 'Play';
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: var(--beauty-landing-2-c1);
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
